[submodule ".registry"]
	path = .registry
	url = https://github.com/waternumbers/waternumbers.r-universe.dev
	branch = HEAD
[submodule "FKF"]
	path = FKF
	url = https://github.com/waternumbers/fkf
[submodule "anomalous"]
	path = anomalous
	url = https://github.com/waternumbers/anomalous
	branch = performance
[submodule "dynatop"]
	path = dynatop
	url = https://github.com/waternumbers/dynatop
[submodule "dynatopGIS"]
	path = dynatopGIS
	url = https://github.com/waternumbers/dynatopgis
[submodule "fCopulae"]
	path = fCopulae
	url = https://github.com/r-forge/rmetrics/tree/master/pkg/fCopulae
[submodule "fNonlinear"]
	path = fNonlinear
	url = https://github.com/r-forge/rmetrics/tree/master/pkg/fNonlinear
[submodule "rrdb"]
	path = rrdb
	url = https://github.com/waternumbers/rrdb
