[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynatop"]
	path = dynatop
	url = https://github.com/waternumbers/dynatop
[submodule "dynatopGIS"]
	path = dynatopGIS
	url = https://github.com/waternumbers/dynatopgis
[submodule "fCopulae"]
	path = fCopulae
	url = https://github.com/cran/fCopulae
[submodule "FKF"]
	path = FKF
	url = https://github.com/waternumbers/fkf
[submodule "fNonlinear"]
	path = fNonlinear
	url = https://github.com/cran/fNonlinear
